<div class="row my-3">
  <div class="container">
    <h3>Category4</h3>
    <div class="card-deck">
      <% 3.times do |i| %>
        <div class="card text-center border-0">
          <img class="card-img-top" src="holder.js/350x200?text=Dish&random=yes" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><%= link_to "Recipe title", root_path %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row my-3">
  <div class="container">
    <h3>Category5</h3>
    <div class="card-deck">
      <% 3.times do |i| %>
        <div class="card text-center border-0">
          <img class="card-img-top" src="holder.js/350x200?text=Dish&random=yes" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><%= link_to "Recipe title", root_path %></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
